<section class="flex center f-col br-secondary">
  <h2>Evento keydown</h2>
  <p id="key">Presiona una tecla.</p>
</section>

<script is:inline>
  const pKeydown = document.getElementById("key");
  const changeKeydown = (e) => (pKeydown.innerText = e.key);
  document.addEventListener("keydown", changeKeydown);
</script>

<style>
  section {
    margin: auto;
    width: 70%;
    padding: 20px;
    background-color: #2d2d2d;
    color: #fff;
  }
</style>
