---
import Layout from "../layouts/Layout.astro";
import Blocks from "../components/Blocks.astro";
import ChipAnchor from "../components/ChipAnchor.astro";
import Badge from "../components/Badge.astro";
import SchoolIcon from "../components/icons/SchoolIcon.astro";
const SITE_TITLE = "GuiavaScript";
const SITE_DESCRIPTION =
  "GuiavaScript es la guía definitiva para aprender y dominar JavaScript. Hacemos que el aprendizaje de JavaScript sea fácil al evitar la jerga compleja y los conceptos confusos, y en su lugar brindamos instrucciones simples y directas que hacen que el aprendizaje sea agradable y directo.";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <div class="background--custom"></div>
  <svg
    width="40px"
    height="40px"
    stroke-width="1.4"
    viewBox="0 0 24 24"
    fill="none"
    xmlns="http://www.w3.org/2000/svg"
    color="#000000"
    ><path
      d="M13.5 6L10 18.5M6.5 8.5L3 12l3.5 3.5M17.5 8.5L21 12l-3.5 3.5"
      stroke="#000000"
      stroke-width="1.4"
      stroke-linecap="round"
      stroke-linejoin="round"></path>
  </svg>
  <section class="hero">
    <button class="shareBtn"
      ><img class="logo" src="./guiavascript.png" alt="guiavascript ad" />
    </button>
    <h1>
      <svg viewBox="0 0 400 94"
        ><path id="curve" d=" M -300, 540 a 500,500 0 1,1 1000,0"></path><text
          width="100"
          text-anchor="middle"
          ><textPath xlink:href="#curve" startOffset="50%"
            ><tspan dx="0" dy="0">Aprende JavaScript</tspan>
          </textPath><textPath xlink:href="#curve" startOffset="50%"
            ><tspan dx="0" dy="34">con Guiavascript</tspan>
          </textPath>
        </text>
      </svg>
    </h1>
    <br />
    <p class="display-3">
      Guiavascript es una guía para aprender o refrescar sus habilidades de
      JavaScript.
    </p>
    <div class="arrow"></div>
  </section>
  <main class="container">
    <section class="flex f-row center">
      <ChipAnchor href="#lec" target="_self" color="white br-primary">
        Lecciones
      </ChipAnchor>
      <ChipAnchor
        href="/t&c"
        target="_blank"
        color="accent txt-white br-primary"
      >
        <Badge content="new" xtraClass="blue" />
        Conceptos & Tips ↗
      </ChipAnchor>
    </section>
    <section class="grid col-2 md-col-2 sm-col-1">
      <article class="card center accent">
        <picture>
          <img
            src="./img/haze-learning-languages-in-the-app-1.png"
            alt="haze-learning-languages-in-the-app-1"
          />
        </picture>
        <h2 class="txt-center">Apréndelo en tu idioma</h2>
        <p>
          Guiavascript ofrece contenido en español, lo que facilita que los
          hispanohablantes aprendan y comprendan JavaScript básico.
        </p>
      </article>
      <article class="card center accent">
        <picture>
          <img
            src="./img/haze-school-subjects-and-items-for-studying-1.png"
            alt="haze-school-subjects-and-items-for-studying-1"
          />
        </picture>
        <h2 class="txt-center">Fácil de usar y entender</h2>
        <p>
          Hacemos que aprender JavaScript sea muy fácil, sin jerga compleja ni
          conceptos confusos, solo instrucciones simples y directas que hacen
          que el aprendizaje sea divertido y fácil.
        </p>
      </article>
    </section>
  </main>
  <h2 class="txt-center display-3" id="lec">
    <SchoolIcon width="34" height="34" /> Lecciones
  </h2>
  <section class="modules grid col-3 md-col-3 sm-col-1">
    <Blocks
      img="./img/firststeps.png"
      href="basicjs"
      title="JavaScript Básico"
      body="Aprende lo básico del lenguaje."
    >
      <Badge content="actualizado" xtraClass="green " />
    </Blocks>
    <Blocks
      img="./img/firststeps.png"
      href="/basic-doml"
      title="Introducción al DOM"
      body="Aprende lo básico para controlar el DOM"
    >
      <Badge content="new" xtraClass="blue" />
    </Blocks>
    <Blocks
      img="./img/coming-soon.png"
      href="/"
      title="JavaScript Intermedio"
      body="Próximamente..."
    />
  </section>
</Layout>

<style>
  html {
    scroll-behavior: smooth;
  }
  .shareBtn {
    cursor: pointer;
    background: transparent;
    border: transparent;
  }
  .card {
    margin: 1rem;
    border-radius: 10px;
    color: #f2f2f2;
  }

  .background--custom {
    background: linear-gradient(180deg, #f5df4d, #f5cb58, #f7c25a);
    background-size: 300% 300%;
    animation: gradient 4s alternate infinite;
    position: absolute;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: -1;
  }
  @keyframes gradient {
    0% {
      background-position: 0%;
    }
    100% {
      background-position: 100%;
    }
  }

  .hero {
    padding: 2rem;
    margin: 2rem;
    border-radius: 10px;
  }

  .hero h1 {
    font-size: 2.3rem;
    font-weight: 900;
  }

  .hero p {
    color: #5a54a8;
    width: 30vw;
    font-size: 2.2rem;
    margin: auto;
    line-height: 1;
    text-wrap: balance;
    text-align: center;
  }

  .hero .logo {
    width: 8em;
    margin: 0 auto;
    position: absolute;
    top: 40px;
    right: 4vw;
    transform: rotate(15deg);
    animation: logo 4s alternate infinite;
  }
  /* 
  .card img {
    width: 300px;
    height: 300px;
    min-height: 300px;
    border-radius: 10px 10px 0 0;
  } */

  @keyframes logo {
    0% {
      transform: rotate(15deg);
    }
    100% {
      transform: rotate(-3deg);
    }
  }

  path {
    fill: transparent;
  }

  .arrow {
    width: 0;
    height: 0;
    margin: 10px auto;
    border-left: 20px solid transparent;
    border-right: 20px solid transparent;
    border-top: 20px solid #000;
    animation: arrow 1s infinite;
  }

  @keyframes arrow {
    0% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(20px);
    }
    100% {
      transform: translateY(0);
    }
  }

  /* Moviles */

  @media (max-width: 768px) {
    .hero .logo {
      width: 3.5em;
      top: 20px;
      right: 2vw;
    }
    .hero {
      padding: 0.01rem;
      margin: 0.01rem;
    }
    .hero p {
      width: 60vw;
      font-size: 1em;
      margin: auto;
      text-align: center;
    }

    .card {
      margin: 0.5rem;
      font-size: 80%;
    }
  }
</style>
