---
import Layout from "../../layouts/Layout.astro";
import ChipAnchor from "../../components/ChipAnchor.astro";
import ConceptCard from "../../components/ConceptCard.astro";
import Search from "../../components/Search.astro";
const SITE_TITLE = "GS-Tips&Conceptos";
const SITE_DESCRIPTION =
  "Tips y concejos que te ayudaran a mejorar tu entendimiento de Javascript y sus temas relacionados";
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <header class="flex center f-col">
    <h1 class="txt-center display-2">Tips & Conceptos</h1>
    <ChipAnchor href="/" target="_self" color="white br-primary">
      Ir al Inicio
    </ChipAnchor>
  </header>
  <Search />
  <main class="grid col-3 md-col-2 sm-col-2 txt-white" id="posts">
    <ConceptCard>
      <h2>Scope/Alcance</h2>
      <p>
        El alcance es el área de un programa en el que una variable o función es
        visible/usable. En otras palabras, es el lugar donde se puede acceder a
        una variable o función.
      </p>
      <p>
        En JavaScript las variables <span class="txt-blue">const y let</span> tiene
        un alcance por bloque a diferencia de <span class="txt-red">var</span>.
        Es por ello que no se recomienda su uso.
      </p>
    </ConceptCard>
    <ConceptCard>
      <h2>Hoisting/Elevación</h2>
      <p>
        La elevación es un comportamiento especial de JavaScript que hace que
        las variables declaradas en la parte superior de un bloque de código
        sean visibles desde el principio del bloque.
      </p>
      <p>
        En otras palabras hace que una variable o función tengan un scope global
        en el archivo.
      </p>
    </ConceptCard>
    <ConceptCard>
      <h2>Parámetros</h2>
      <p>
        Un parámetro es una variable que se pasa a una función como entrada.
      </p>
      <pre><code>function miFuncion(<span class="txt-green">parametro</span>) &lbrace;
  console.log(parametro);
&rbrace; </code></pre>
    </ConceptCard>
    <ConceptCard>
      <h2>Argumento</h2>
      <p>
        Un argumento es el valor que se pasa a una función cuando se invoca.
      </p>
      <pre><code>miFuncion(<span class="txt-green">"Juan"</span>);</code> // Juan es el argumentó</pre>
    </ConceptCard>
  </main>
</Layout>

<style>
  body {
    scroll-behavior: smooth;
  }
  h2 {
    margin: 0;
    text-wrap: balance;
  }
  p {
    margin: 0;
    margin-top: 5px;
    text-wrap: pretty;
  }

  main {
    margin: 4em 0;
  }
  header {
    margin: 3em auto;
  }
  code {
    color: rgb(171, 206, 226);
  }
</style>
