---
import ChipAnchor from "../components/ChipAnchor.astro";
import Layout from "../layouts/Layout.astro";

const SITE_TITLE = "GS-Tips&Conceptos";
const SITE_DESCRIPTION =
  "Tips y concejos que te ayudaran a mejorar tu entendimiento de Javascript y sus temas relacionados";

const { href } = Astro.props;
---

<Layout title={SITE_TITLE} description={SITE_DESCRIPTION}>
  <header class="flex center f-col">
    <h1 class="txt-center display-2 txt-white">Tips & Conceptos</h1>
    <ChipAnchor href={href} target="_self" color="white br-primary">
      Ir al Inicio
    </ChipAnchor>
  </header>
  <slot />
</Layout>

<style>
  body {
    scroll-behavior: smooth;
    background: var(--accent);
    background-image: linear-gradient(
      45deg,
      #402a44 0%,
      #241e25 100%
    ) !important;
  }
  body::before {
    opacity: 20;
    filter: blur(100px);
  }
  h2 {
    margin: 0;
    text-wrap: balance;
  }
  p {
    margin: 0;
    margin-top: 5px;
    text-wrap: pretty;
  }

  main {
    margin: 4em 0;
  }
  header {
    margin: 3em auto;
  }
  code {
    color: rgb(171, 206, 226);
  }
</style>
