---
import BaseHead from "../components/BaseHead.astro";
import { ViewTransitions } from "astro:transitions";
interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
---

<!doctype html>
<html lang="es">
  <head>
    <BaseHead title={title} description={description} />
    <ViewTransitions />
  </head>
  <body transition:animate="fade">
    <main class="container">
      <slot />
    </main>
    <footer>
      <button class="shareBtn">Compartir Sitio</button>
    </footer>
    <style>
      body {
        overflow-x: hidden;
      }
      footer {
        display: flex;
        justify-content: center;
        align-items: center;

        text-align: center;
        margin-top: 2rem;
        background-color: #000;
      }

      footer button {
        margin: 1em auto;
        background-color: #fff;
        border: none;
        border-radius: 0.5rem;
        padding: 0.5rem 1rem;
        color: #000;
        font-weight: bold;
        cursor: pointer;
      }

      footer button:hover {
        background-color: #000;
        color: #fff;
      }
    </style>
    <script>
      const shareBtns = document.querySelectorAll(".shareBtn");
      for (const btn of shareBtns) {
        btn.addEventListener("click", async () => {
          try {
            await navigator.share({
              title: "Guiavascript",
              text: "Guiavascript - Aprende JavaScript desde cero",
              url: "https://guiavascript.netlify.app/",
            });
          } catch (error) {
            console.log(error);
          }
        });
      }
    </script>
  </body>
</html>
